.auth {
  position: relative;
  color: #fff;
  height: 100vh;
  width: 100vw;
  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover !important;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
    }
  }
  &__bg-blurred {
    &:after {
      background: rgba(0, 0, 0, 0.6) !important;
      backdrop-filter: blur(20px) !important;
    }
  }
  &__title {
    padding-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    @media (max-width: $md2 - 50 + 'px') {
      padding-top: 40px;
    }
    @media (max-width: $md3 + 'px') {
      padding-top: 30px;
    }
  }
  &__container {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 75px;
  }
  &__body   {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &_pic {
      position: relative;
      input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        height: 0;
        width: 0;
      }
      label {
        cursor: pointer;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background: #fff;
        border: 6px solid #975BFE;
        color: #828282;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        & .img {
          width: 100%;
          height: 100%;
          margin: 0;
        }
        span {
          display: block;
          margin-top: 10px;
        }
        @media (max-width: $md2 + 'px') {
          width: 120px;
          height: 120px;
        }
      }
    }
    &_preview {
      width: 100%;
      //height: 100%;
    }
  }
  &__body-text {
    text-align: center;
    //display: inline-block;
    margin-top: 46px;
    margin-bottom: 39px;
    font-size: 18px;
    line-height: 21px;
    white-space: nowrap;
    span {
      color: #975BFE;
      font-weight: 700;
    }
    p {
      display: inline;
      font-weight: 700;
      color: #ED58DC;
    }
  }
  @media (max-width: $md1 + 'px') {
    &__body-text {
      font-size: 17px;
    }
  }
  @media (max-width: $md2 - 50 + 'px') {
    &__container {
      padding: 0 45px;
    }
  }
  @media (max-width: $md3 + 'px') {
    &__container {
      padding: 0 30px;
    }
    &__body-text {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  @media (max-width: $md4 + 'px') {
    &__body-text {
      margin-top: 25px;
      margin-bottom: 20px;
    }
  }
}
.title-auth {
  color: #975BFE;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  cursor: pointer;
  @media (max-width: $md1 + 'px') {
    font-size: 30px;
  }
  @media (max-width: $md3 + 'px') {
    font-size: 28px;
  }
  &__disappear {
    @media (max-width: 425px) {
      display: none;
    }
    &_l {
      @media (max-width: 625px) {
        display: none;
      }
    }
  }
}
.registration {
  display: inline-flex;
  height: 100vh !important;
  padding: 80px 0;
  align-items: center;
  justify-content: center;
  &__title {
    top: 60px;
    left: 310px;
    padding-top: 0;
    @media (max-width: 1600px) {
      left: 100px;
    }
  }
}
// ======================== login =========================
.form-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__input {
    position: relative;
    width: 300px;
    margin-bottom: 31px;
    input {
      font-size: 15px;
      letter-spacing: 0.3px;
      color: #828282;
      width: 100%;
      background: transparent;
      border: 0;
      border-bottom: 1px solid #ffffff;
      padding: 13px 0;
      &::placeholder {
        font-size: 14px;
        color: #828282;
      }
    }
    @media (max-width: $md2 + 'px') {
      margin-bottom: 25px;
    }
  }
  &__label {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    img {
      height: 18px;
      margin-right: 5px;
    }
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 9px;
    color: #ADADAD;
  }
  &__forgot {
    margin-top: 35px;
    margin-bottom: 46px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    color: #ED58DC;
    @media (max-width: $md1 + 'px') {
      margin-top: 24px;
      margin-bottom: 45px;
    }
  }
  @media (max-width: $md4 + 'px') {
    &__input {
      width: 250px;
    }
  }
}
// ====================== error ===================
.error-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFFFFF;
  border-radius: 14px;
  width: 270px;
  height: 122px;
  &__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
  }
  &__text {
    font-size: 14px;
  }
  &__link {
    margin-top: 31px;
    cursor: pointer;
    font-size: 17px;
    color: #975BFE;
  }
}