//<МИКСИНЫ>===============================================================================================
@import 'mixins';
//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import 'fonts';
//<Шрифт по умолчанию>==========================================================================================
$fontFamily: Roboto;
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1150;
$md1: 1220;
$md2: 991.98;
$md3: 767.98;
$md4: 425.98;
$laptop: 1024;
$tablet: 768;
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import 'null';
body {
  color: #000;
  font-size: 14px;
  &._lock {
    overflow: hidden;
  }
}
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}  //<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 15px;
  }
}
._container_h {
  max-width: $maxWidthContainer + 150 + px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 1400px) {
    padding: 0 50px;
  }
}
._container-f {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
}
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
//@import 'popup';
//@import 'header';
//@import 'body';
//@import 'footer';
//@import 'home';
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
.no-blue {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
//<ОСНОВНОЙ БЛОК>====================================================================================================
@import "auth/auth";
@import "layouts/layouts";
//================================Feed=======================================
.feed {
  //margin: 0 50px;
  width: 100%;
  flex: 0 0 60%;
}
